.profile-header {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--preset-color-black);
}
.profile-header--title {
    margin: 0;
    text-shadow: var(--preset-shadow);
}