.profile--container {
    gap: 1.5rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    position: relative;
    border-radius: var(--preset-border-radius);
    background-color: var(--preset-color-black);
}
.profile--container > div {
    border: none;
    flex-grow: 1;
    padding: 1.5rem;
    border-left: var(--preset-border);
}
.profile--container div:nth-child(1) {
    border: none;
}